:root {
    --primary: #162B46;
    --light: #CDE3FC;
    --lightgreen: #8EB6A5;
    --darkgreen: #477B3A;
    --text: #C4BBBB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #E0E9F2;
    margin-left: 60px;
  }
  
  .navbar-nav .nav-link.active {
    color: #1B2C17;
    font-weight: bolder;
  }
  
  .navbar-nav .nav-link:hover {
    color: #192A34;
    
  }
  
  
  /* this is for the navbar button */
  .btn {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2;
    padding: 10px 24px;
  }
  
  .btn-brand {
    background-color: #192A34;
    color: #E0E9F2;
    border-radius: 50px;
  }
  
  .btn-brand:hover {
    background-color: #E0E9F2 ;
    color: #192A34;
  }

  .logoutbutton{
    width: 200px;
  }

#hero{
    background: linear-gradient(#162B46, white);
    background-size: cover;
  }
  
  .heroSectionButtons {
    width: 250px;
    border-radius: 25px;
    background-color: var(--primary);
    color: var(--light);
    border: none;
    transition: .5s;
  }

  .heroSectionButtons:hover{
    background-color: var(--light);
  }

  .payment{
    font-size: 60px;
    font-weight: bold;
  }
/* sidebar begins */
.sidebarpage{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    height: 100vh;
    padding: 0 1.7rem;
    color: var(--darkgreen);
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}



/* FOOTER */
 
.footerContainer {
    width: 100%;
    padding: 30px 20px;
}
 
.socialIcons {
    display: flex;
    justify-content: center;
}
 
.socialIcons a {
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s ease;
}
 
.socialIcons a i {
    font-size: 1.5em;
    color: #162B46;
    opacity: 0.9;
    transition: .5s;
}
 
.socialIcons a i:hover {
    transform: scale(1.2);
    color: var(--lightgreen) !important;
}
 
.socialIcons a:hover {
    transform: scale(1.2);
}
 
.footerNav {
    margin: 30px 0;
}
 
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
 
.footerNav ul li a {
    color: #162B46;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
 
.footerNav ul li a:hover {
    opacity: 1;
    color: var(--darkgreen);
}
 
.footerBottom {
    text-align: center;
}
 
.footerBottom p {
    color: #162B46;
}
 
.designer {
    opacity: 0.7;
    text-transform: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
 
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}