* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* my navBar Ali */

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* body {
    font-family: "Inter" , sans-serif ;
    background-color: #e8f0f7;
    height: 5000px;
    padding-top: 60px;
} */

.header {
    background-color: rgb(19, 22, 26);
    position: fixed;
    width: 100%;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out children (logo, nav, icon) */
    padding: 0 30px;
    min-height: 60px;
}
.logo1{
margin-right: 15px;
margin-bottom:30px;
}


.header__content{
    display: flex;
    align-items: center;
    width:100%;
    /* justify-content: space-between;
    padding: 0 30px;
    min-height: 60px; */
}

.logo{
    /* display: flex; */
    /* position:absolute; */
    height: 150px;
    /* left: 0px; */
    width: 150px;
  
}

.nav{
    flex: 1; /* Take up available space between logo and icon */
    display: flex;
    justify-content: center; /* Center navigation links */
    transition: all 0.3s ease-in-out;
   

}

.nav__list{
    display: flex;
    column-gap: 40px;
  

}

.icon {

    color: #162B46;
    display: flex !important;
    /* right: 0px !important; */
    align-items: center;
    margin-left: 15px;
    margin-bottom:30px;
}


.nav__item{
display: flex;
justify-content: left;
}

.nav__link{
    color: rgba(12, 12, 12, 0.75);
    font-size: 15px;
    transition: all 0.4s;
    left: 0px;
   
    
}
#logout1{
    margin-right: 0px;
}

/* logout */
.logoutup {
    display: flex;
    align-items: center; /* Vertically align items within this container */
    margin-bottom: 30px; /* Match the bottom margin of the logo */
    margin-left: auto; 
}

/* Optional: Style the link to look like a button */
#logout1 {
    text-decoration: none;
    color: black; /* Adjust color as needed */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f0f0f0; /* Adjust background color as needed */
    display: flex;
    align-items: center;
}

#logout1 i {
    margin-right: 5px; /* Space between icon and text */
}


.nav__link:hover , .nav__link:focus{
    /* color:  rgba(255, 255, 255, 1); */
    /* display: flex; */
    color: #162B46;
   
}

.hamburger{
    display: none;
    cursor: pointer;

}

.bar{
    height: 2px;
    width: 27px;
    background: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;

}

.nav--open{
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);

}
.hamburger--open .bar:nth-child(2){
    opacity: 0;
}
.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);

}


#logout{
    background-color: rgba(0, 255, 195, 0.593);
    
    border-radius: 5px;
    }

/* @media(max-width: 650px){
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color: rgb(19, 22, 26);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link{
        font-size: 14px;

    }

    .hamburger{
        display: block;
    }
} */
/* my part done  */

body {
    background-color: #FFFFFF;
    position: relative;
    z-index: 0;
}

.header {
    min-height: 100vh;
    background-image: url(../images/solar-panels.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, transparent 70%, #FFFFFF 100%);
    z-index: 1;
}

body::before {
    content: '';
    position: absolute;
    top: -20vh;
    left: 0;
    right: 0;
    height: 20vh;
    background: linear-gradient(to bottom, #FFFFFF 0%, transparent 100%);
    z-index: -1;
}

.content {
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.content h1 {
    font-size: 65px;
    margin-bottom: 20px;
}

.content p {
    font-size: 22px;
    margin-bottom: 30px;
}

.content .btn {
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #162B46;
    border-radius: 10px;
    text-decoration: none;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.content .btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: #162B46;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #C4BBBB;
}

.heading p {
    font-size: 18px;
    color: #162B46;
    margin-bottom: 35px;
}

.cost-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.cost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.cost-image {
    flex: 1;
    margin-right: 40px;
    border-radius: 15px;
    overflow: hidden;
}

.cost-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.cost-image:hover img {
    transform: scale(1.2);
}

.cost-content {
    flex: 1;
}

.cost-content h2 {
    font-size: 50px;
    margin-bottom: 15px;
    color: #8EB6A5;
}

.cost-content p {
    font-size: 20px;
    line-height: 1.5;
    color: #162B46;
}

.cost-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8EB6A5;
    color: #162B46;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.cost-content .read-more:hover {
    background-color: #C4BBBB;
}

.reverse-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 70px;
}

.reverse-layout .cost-image {
    flex: 1;
    margin-left: 40px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    /* my media */
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color: rgb(19, 22, 26);
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link{
        font-size: 14px;

    }

    .hamburger{
        display: block;
    }
    /* my media done */
    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .cost container {
        padding: 0px;
    }

    .cost {
        padding: 20px;
        flex-direction: column;
    }

    .cost-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .cost-content p {
        padding: 0px;
        font-size: 16px;
    }

    .cost-content .read-more {
        font-size: 16px;
    }

    .reverse-layout {
        flex-direction: column;
    }

    .reverse-layout .cost-image {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

/* FOOTER */
 
.footerContainer {
    width: 100%;
    padding: 30px 20px;
}
 
.socialIcons {
    display: flex;
    justify-content: center;
}
 
.socialIcons a {
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s ease;
}
 
.socialIcons a i {
    font-size: 1.5em;
    color: #162B46;
    opacity: 0.9;
    transition: .5s;
}
 
.socialIcons a i:hover {
    transform: scale(1.2);
    color: var(--lightgreen) !important;
}
 
.socialIcons a:hover {
    transform: scale(1.2);
}
 
.footerNav {
    margin: 30px 0;
}
 
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
 
.footerNav ul li a {
    color: #162B46;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
 
.footerNav ul li a:hover {
    opacity: 1;
    color: var(--darkgreen);
}
 
.footerBottom {
    text-align: center;
}
 
.footerBottom p {
    color: #162B46;
}
 
.designer {
    opacity: 0.7;
    text-transform: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
 
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}