
:root {
    --primary: #162B46;
    --light: #CDE3FC;
    --lightgreen: #8EB6A5;
    --darkgreen: #477B3A;
    --text: #C4BBBB;
}

.fw-medium{
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.btn {
    font-weight: 500;
    transition:.5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover{
    color: var(--light);
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/* service section begins */

.service-item {
    box-shadow: 0 0 45px #00000014;
    height: 100%;
    width: 100%;;
    border-width: 3px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--primary);
    color: var(--light);

}

.service-item:hover {
    background-color: var(--light);
    color: var(--primary);

}

.line{
    color: var(--lightgreen);
    width: 150px;
    margin-top: 20px;
    
}

.service-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 0 0 8px  8px;
}

.servicecont{
    padding: 0;
    margin: 0;

}




.service-icon {
    position: relative;
    margin: -50px 0 25px 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: white;
    border-radius: 100px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover .service-icon {
    color: white;
    background: var(--primary);
}

.viewmoretext{
    color: var(--lightgreen)
}

.viewmoretext:hover{
    color: var(--primary);
}

.ourserv{
    color: var(--primary);
}

/* service section ends */

/* metrics begin */

.circlesicon{
    color: var(--primary);
    background-color: var(--lightgreen);
}

.metriccontainer{
    background:  linear-gradient(to top right, #06325A, #269992);
    border-radius: 20px;
}

.metrictext{
    color: var(--light);
}

.metrictextnumber{
    color: var(--lightgreen);
}
/* metric ends */

/* projects begin */

#portfolio-filters li{
    display: inline-block;
    font-weight: 500;
    color: var(--lightgreen);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-filters li:hover,
#portfolio-filters li.active {
    color: var(--primary);
    border-color: var(--primary);
    font-weight: bold;
}

.portfolio-img {
    position: relative;
    border-radius: 20px;
}

.portfolio-img::before,
.portfolio-img::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    background: var(--primary) ;
    transition: .5s;
    opacity: 85%;
}

.portfolio-img::before{
    left: 50%;
}

.portfolio-img::after{
    right: 50%;
}

.portfolio-item:hover .portfolio-img::before{
    width: 50.1%;
    left: 0;
}

.portfolio-item:hover .portfolio-img::after {
    width: 50.1%;
    right: 0;
}

.portfolio-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    transition: .5s;
}

.portfolio-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;  
    height: 60px; 
    border-radius: 50%;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    transition-delay: .3s;
}

.projecttext{
    color: var(--lightgreen);
}

.projectline{
    color: var(--primary);
}

/* projects ends */

/* contact us begins  */

.emailform{
    padding: 0  !important;
}

.emailbackground{
    background:  linear-gradient(to bottom right, #162B46, #8EB6A5);
}

.contactustext{
    color:  var(--light);
}

.contactusline{
    color: var(--light);
}

.contactusbutton{
    background-color: var(--light);
    color: #162B46;
    border: none;
    transition: .5s;
}

.contactusbutton:hover{
    background-color: var(--primary);
    color: var(--light);
    border: none;
    font-weight: bold;
}


.textemail {
    color: white;
}

@media (min-width:992px){
    .container.quote{
        max-width: 100% !important;
    }

    .quote-text{
        padding-right: calc(((100%-960px)/2)+ 0.75rem);
    }
}

/* @media (min-width:1200px){
    .quote-text {
        padding-right: calc(((100% - 1140px)/2)+ .75rem);
    }
} */
/* 
@media (min-width: 1400px){
    .quote-text {
        padding-right: calc(((100% - 1320px)/ 2 )+ .75rem) ;
    }
} */
/* email ends */




/* Landing Page CSS */

/* logo begings*/


/* logo ends */

/* log in begins */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.custom-container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--lightgreen);
    overflow: hidden;
    font-family: "Fredoka", sans-serif;

}

.custom-container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50% ;
    background: linear-gradient(90deg, #CDE3FC, #203535);
    top:-10% ;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

/* 68867a */



.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:  0;
    left: 0;
}

.signin-signup {
   position: absolute; 
   top: 50%;
   left: 75%;
   transform: translate(-50%, -50%);
   width: 50% ;
   display: grid;
   grid-template-columns: 1fr;
   z-index: 5;
   transition: 1s 0.7s ease-in-out;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.2s 0.7s ease-in-out;
}

form.sign-in-form{
    z-index: 2;
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.title{
    font-size: 2.2rem;
    color: white;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color:white ;
    margin: 10px 0;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 15% 85% ;
    padding: 0, .4rem;
}

.input-field i{
    text-align: center;
    color: var(--primary);
    font-size: 1.4rem;
    transform: translateX(1px) translateY(13px);
}

.input-field input{
    background: none ;
    outline: none;
    border: none;
    line-height: 1 ;
    font-weight: 600;
    font-size: 1.1rem;
    color: #203535;

}

.input-field input::placeholder {
    color: var(--text);
    font-weight: 500;
}

.loginbtn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--light);
    color: #162B46;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.loginbtn:hover{
    background-color: var(--primary);
    color: var(--light);
}

.social-text {
    padding: .7rem 0;
    font-size: 1rem;
    color: white;
}

.social-media{
    display:flex;
    justify-content: center;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid white;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    border-radius: 50px;
    transition: .3s;
}

.social-icon:hover {
    color: var(--primary) ;
    border-color: var(--primary);
}

.image{
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.image1{
    width: 120%;
    transition: 1.1s .4s ease-in-out;
}

.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;

}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
   
}

.panel .content{
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h1{
    font-weight: bold;
    line-height: 1;
    font-size: 3rem;
}

.panel p{
    font-size: .95rem;
    padding: 0.7rem 0;
    text-align: center;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid var(--lightgreen);
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: .8rem;
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.btn.transparent:hover{
    color: var(--light);
    border: 2px solid var(--primary);
    background-color: #162B46;
    font-size: .9rem;
    
}


.right-panel .content, .right-panel .image1{
    transform: translateX(900px);
    color: #203535;

}

.right-panel .btn{
    color: white;
    border: 2px solid var(--darkgreen);
    transition: .5s;

}

.right-panel .btn:hover{
    color: var(--light);
    border: 2px solid  var(--primary);
    background-color: var(--primary);
    font-size: .9rem;

}
/* login page ends */

/* animation begins */
.custom-container.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}

.custom-container.sign-up-mode .left-panel .image,
.custom-container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}

.custom-container.sign-up-mode .right-panel .content, 
.custom-container.sign-up-mode .right-panel .image1{
    transform: translateX(0px);

}

.custom-container.sign-up-mode .left-panel{
    pointer-events: none;
}

.custom-container.sign-up-mode .right-panel{
    pointer-events: all;
}

.custom-container.sign-up-mode .signin-signup{
    left: 25%
}

.custom-container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.custom-container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

/* animation ends  */

@media (max-width: 870px){
    .custom-container{
        min-height: 800px;
        height: 100vh;

    }

    .custom-container:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out ;
    }

    .signin-signup{
        width: 100%;
        top:95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .panels-container{
        grid-template-columns:1fr ;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .image{
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .image1{
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel{
        flex-direction:row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .panel .content{
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3{
        font-size:1.2rem ;
        padding: 0.5rem 0;
    }

    .btn.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem ;
    }

    .panel p{
        font-size: .7rem;
        padding: 0.5rem 0;
    }

    .left-panel{
        grid-row: 1 / 2;
        
    }

    .rght-panel{
        grid-row: 3 / 4;
    }

    .right-panel .content, .right-panel .image1{
        transform: translateY(600px);
        padding-top: 360px;
    }

    .custom-container.sign-up-mode:before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .custom-container.sign-up-mode .left-panel .image,
    .custom-container.sign-up-mode .left-panel .content{
        transform: translateY(-300px);
    }

    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
      transform: translateY(500%);
    }

    .signin-signup,
    .custom-container.sign-up-mode .sign-up-form{
        top: 5%;
        transform: translate(25%, -50%);
        left: 50%;

    }

    .signin-signup,
    .custom-container.sign-up-mode .sign-in-form{
        top: 5%;
        transform: translate(-50%, 66%);
        left: 50%;

    }

    .container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
      }
}

@media(max-width: 570px){
    form{
        padding: 0 1.5rem;
    }

    .image{
        display: none;
    }

    .panel .content{
        padding: 0.5rem 1rem;
    }

    .custom-container:before{
       bottom:72%;
       left: 50%; 
    }

    .custom-container.sign-up-mode:before{
        bottom:28%;
        left: 50%; 
     }

     .right-panel .content, .right-panel{
        /* transform: translateY(-270px); */
        padding-top: 218px;
    }
}
/* signup page begins */

.signUpbtn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--light);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
    color: #162B46;
}

.signUpbtn:hover{
    background-color: var(--primary);
    color: var(--light);
}

/* signup page ends */

/* FOOTER */
 
.footerContainer {
    width: 100%;
    padding: 30px 20px;
}
 
.socialIcons {
    display: flex;
    justify-content: center;
}
 
.socialIcons a {
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s ease;
}
 
.socialIcons a i {
    font-size: 1.5em;
    color: #162B46;
    opacity: 0.9;
    transition: .5s;
}
 
.socialIcons a i:hover {
    transform: scale(1.2);
    color: var(--lightgreen) !important;
}

.socialIcons a:hover {
    transform: scale(1.2);
}
 
.footerNav {
    margin: 30px 0;
}
 
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
 
.footerNav ul li a {
    color: #162B46;
    margin: 20px;
    text-decoration: none;
    font-size: 1em;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
 
.footerNav ul li a:hover {
    opacity: 1;
    color: var(--darkgreen);
}
 
.footerBottom {
    text-align: center;
}
 
.footerBottom p {
    color: #162B46;
}
 
.designer {
    opacity: 0.7;
    text-transform: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
 
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter" , sans-serif ;
    background-color: #e8f0f7;
    height: 5000px;
    padding-top: 60px;
}

.header {
    background-color: rgb(19, 22, 26);  
    /* background-color:#17df50; */
    position: fixed;
    width: 100%;
    top:0;
}



.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.logo{
    display: flex;
    /* position:absolute; */
    height: 100px;
    left: 0px;
    width: 120px;
  
}

.nav{
    transition: all 0.3s ease-in-out;

}

.nav__list{
    display: flex;
    column-gap: 40px;

}






.nav__link{
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
    transition: all 0.4s;
}

.nav__link:hover , .nav__link:focus{
    color:  rgba(255, 255, 255, 1);
}

.hamburger{
    display: none;
    cursor: pointer;

}

.bar{
    height: 2px;
    width: 27px;
    background: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;

}

.nav--open{
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);

}
.hamburger--open .bar:nth-child(2){
    opacity: 0;
}
.hamburger--open .bar:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);

}

@media(max-width: 650px){
    .nav{
        position: fixed;
        top: 60px;
        left: 0;
        background-color: rgb(19, 22, 26);
     
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    .nav__list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link{
        font-size: 14px;

    }

    .hamburger{
        display: block;
    }
}